

.shadowboxx{
    box-shadow: 1px 4px 10px rgba(0,0,0,0.1)
}
nav{
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    text-align: center;
}

nav .nav-link{
    width: 120px;


}

script {
    display: none;
}

button:hover{

    box-shadow: 0px 1px 3px 3px rgba(0,0,0,0.1)!important;

}


.table td, .table th {
    max-width: 200px!important;
    padding: .75rem!important;
    vertical-align: middle!important;
    border-top: 1px solid #dee2e6!important;;
    overflow: hidden!important;;
    text-overflow: ellipsis!important;;
    white-space: nowrap!important;;
}

.absolutemiddle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vh-5 {
    height: 5vh;
}

.vh-4 {
    height: 4vh;
}

.switch label .lever {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    margin-right: .625rem;
    vertical-align: middle;
    content: "";
    background-color: #818181;
    border-radius: .9375rem;
    width: 2.5rem;
    height: .9375rem;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;

}

.switch label input[type="checkbox"]:checked+.lever {
    background-color: #dccfe2;
}
.switch label {
    cursor: pointer;
}
.switch label input[type="checkbox"]:checked+.lever:after {
    left: 1.5rem;
    background-color: #a6c;
}
.switch label .lever:after {
    position: absolute;
    top: -.1875rem;
    left: -.3125rem;
    display: inline-block;
    content: "";
    background-color: #f1f1f1;
    border-radius: 1.3125rem;
    -webkit-box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,0.4);
    box-shadow: 0 0.0625rem 0.1875rem 0.0625rem rgba(0,0,0,0.4);
    width: 1.3125rem;
    height: 1.3125rem;
    -webkit-transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,-webkit-box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,box-shadow 1s ease;
    transition: left .3s ease,background .3s ease,box-shadow 1s ease,-webkit-box-shadow 1s ease;
}
.switch label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}

