

.shadowboxx{
    box-shadow: 1px 4px 10px rgba(0,0,0,0.1)
}
nav{
    box-shadow: 0px 4px 5px rgba(0,0,0,0.1);
    text-align: center;
}

nav .nav-link{
    width: 120px;


}

script {
    display: none;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: middle!important;
    border-top: 1px solid #dee2e6;
}

.absolutemiddle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vh-5{
    height: 5vh;
}
